<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>DDBJ Search</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./assets/dist/fontawesome-free-5.12.1-web/css/all.css">

    <link rel="Shortcut Icon" href="./favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="./favicons/site.webmanifest">
    <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#2b5797">

    <script type="text/javascript" src="./js/config.js"></script>
</head>

<body>
<script type="text/javascript" src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/common-header-and-footer/script/common-header-and-footer.js" style="display: block" id="common-header-and-footer__script"></script>

<header>
    <div id="header-link" class="navbar-inverse nav-upper">
        <div class="container-fluid content">
            <ul class="nav navbar-upper">
                <li><a href="http://trace.ddbj.nig.ac.jp/dra/index.html"><i class="fas fa-external-link-alt" aria-hidden="true"></i> DRA Home </a></li>
                <li><a href="http://getentry.ddbj.nig.ac.jp/top-e.html"><i class="fa fa-external-link-alt" aria-hidden="true"></i> DDBJ flat file search</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="images/ddbj_logo.png" class="logo" alt="DDBJ Search"/><span class="title">DDBJ Search</span>
            </a>
        </div>
    </nav>
    <b-tabs v-model="activeTab" position="is-centered" >
        <template v-for="(tab, index) in tabs">
            <b-tab-item
                    v-if="tab.displayed"
                    :key="index"
                    :label="tab.label"
                    class="has-text-centered">
                {{ tab.content }}
            </b-tab-item>
        </template>
    </b-tabs>
</header>

<main>
    <div class="search-section">
        <section id="search" class="content">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Taxonomy ID</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <b-autocomplete
                                :data="data"
                                placeholder="e.g. Fight Club"
                                field="title"
                                :loading="isFetching"
                                @typing="getAsyncData"
                                @select="option => selected = option">

                            <template slot-scope="props">
                                <div class="media">
                                    <div class="media-left">
                                        <img width="32" :src="`https://image.tmdb.org/t/p/w500/${props.option.poster_path}`">
                                    </div>
                                    <div class="media-content">
                                        {{ props.option.title }}
                                        <br>
                                        <small>
                                            Released at {{ props.option.release_date }},
                                            rated <b>{{ props.option.vote_average }}</b>
                                        </small>
                                    </div>
                                </div>
                            </template>
                        </b-autocomplete>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Keyword</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <b-autocomplete
                                :data="data"
                                placeholder="e.g. Fight Club"
                                field="title"
                                :loading="isFetching"
                                @typing="getAsyncData"
                                @select="option => selected = option">

                            <template slot-scope="props">
                                <div class="media">
                                    <div class="media-left">
                                        <img width="32" :src="`https://image.tmdb.org/t/p/w500/${props.option.poster_path}`">
                                    </div>
                                    <div class="media-content">
                                        {{ props.option.title }}
                                        <br>
                                        <small>
                                            Released at {{ props.option.release_date }},
                                            rated <b>{{ props.option.vote_average }}</b>
                                        </small>
                                    </div>
                                </div>
                            </template>
                        </b-autocomplete>
                    </div>
                </div>
            </div>
            <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1" class="search-collapse">
                <a slot="trigger" slot-scope="props" aria-controls="contentIdForA11y1" class="search-collapse-trigger">
                    <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'"></b-icon>
                    {{ !props.open ? 'All settings' : 'Fewer settings' }}
                </a>
                <div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">More Settings</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <b-autocomplete
                                        :data="data"
                                        placeholder="e.g. Fight Club"
                                        field="title"
                                        :loading="isFetching"
                                        @typing="getAsyncData"
                                        @select="option => selected = option">

                                    <template slot-scope="props">
                                        <div class="media">
                                            <div class="media-left">
                                                <img width="32" :src="`https://image.tmdb.org/t/p/w500/${props.option.poster_path}`">
                                            </div>
                                            <div class="media-content">
                                                {{ props.option.title }}
                                                <br>
                                                <small>
                                                    Released at {{ props.option.release_date }},
                                                    rated <b>{{ props.option.vote_average }}</b>
                                                </small>
                                            </div>
                                        </div>
                                    </template>
                                </b-autocomplete>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">More Settings</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <b-autocomplete
                                        :data="data"
                                        placeholder="e.g. Fight Club"
                                        field="title"
                                        :loading="isFetching"
                                        @typing="getAsyncData"
                                        @select="option => selected = option">

                                    <template slot-scope="props">
                                        <div class="media">
                                            <div class="media-left">
                                                <img width="32" :src="`https://image.tmdb.org/t/p/w500/${props.option.poster_path}`">
                                            </div>
                                            <div class="media-content">
                                                {{ props.option.title }}
                                                <br>
                                                <small>
                                                    Released at {{ props.option.release_date }},
                                                    rated <b>{{ props.option.vote_average }}</b>
                                                </small>
                                            </div>
                                        </div>
                                    </template>
                                </b-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>
            </b-collapse>
            <div class="field is-horizontal">
                <p class="search-horizontal-guide">Show </p>
                <b-select v-model="perPage">
                    <option
                            v-for="pp in perPageList"
                            :value="pp">
                        {{ pp }}
                    </option>
                </b-select>
                <p class="search-horizontal-guide">records Sort by </p>
                <b-select v-model="sortKey">
                    <option
                            v-for="ss in sortList"
                            :value="ss">
                        {{ ss }}
                    </option>
                </b-select>
                <b-button type="is-primary"
                          icon-left="magnify" class="search-horizontal-submit" expanded>
                    Search
                </b-button>
                <b-button type="is-default"
                          icon-left="cancel">
                    Clear
                </b-button>
            </div>
        </section>
    </div>
    <section id="result" class="content">
        <p class="title is-5">Search Results for term: aaa - <span class="is-primary">{{ total }}</span> Taxonomies entries</p>
        <b-table
                :data="data"
                ref="table"
                hoverable

                backend-sorting
                :default-sort="defaultSort"
                @sort="onSort"

                detailed
                custom-detail-row
                detail-key="taxid"
                :show-detail-icon="showDetailIcon"
                @details-open="(row, index) => onDetailOpen(row, index)"

                paginated
                backend-pagination
                @page-change="onPageChange"
                :total="total"
                :per-page="perPage"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page">


            <template slot-scope="props">
                <b-table-column
                        field="taxid"
                        label="Taxonomy ID"
                        width="300"
                        sortable
                >
                    <template>
                        <a @click="taxidSelected(props.row.taxid)">
                            {{ props.row.taxid }}
                        </a>
                    </template>
                </b-table-column>

                <b-table-column
                        field="lavel"
                        label="Lavel"
                        sortable
                >
                    {{ props.row.lavel }}
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <tr v-for="parent in props.row.items.parents" :key="parent.taxid">
                    <td></td>
                    <td>
                        <span class="tag for-table-tag is-parent">parent</span>
                        <a @click="taxidSelected(parent.taxid)">{{ parent.taxid }}</a>
                    </td>
                    <td>{{ parent.label }}</td>
                </tr>
                <tr v-for="sibling in props.row.items.siblings" :key="sibling.taxid">
                    <td></td>
                    <td>
                        <span class="tag for-table-tag is-sibling">sibling</span>
                        <a @click="taxidSelected(sibling.taxid)">{{ sibling.taxid }}</a>
                    </td>
                    <td>{{ sibling.label }}</td>
                </tr>
            </template>
        </b-table>

    </section>
</main>


<script type="text/javascript" src="./assets/dist/vue/vue.js"></script>
<script type="text/javascript" src="./assets/dist/buefy/buefy.min.js"></script>
<script type="text/javascript" src="./assets/dist/axios/axios.min.js"></script>
<script type="text/javascript" src="./assets/dist/lodash/lodash.min.js"></script>
<script type="text/javascript" src="./assets/js/data.js"></script>
<script type="text/javascript" src="./assets/js/app.js"></script>
</body>

</html>
