// Import Bulma's core
@import "../dist/bulma/sass/utilities/_all";

// Set your colors
$primary: #0026a6;
$primary-invert: findColorInvert($primary);
$primary-darker: #192449;
$primary-darker-invert: findColorInvert($primary-darker);
$parent: #737c3e;
$parent-invert: findColorInvert($parent);
$sibling: #bc611e;
$sibling-invert: findColorInvert($sibling);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "primary-darker": ($primary-darker, $primary-darker-invert),
        "parent": ($parent, $parent-invert),
        "sibling": ($sibling, $sibling-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

//other
$color-search-area-background: #e6dbb6;


// Import Bulma and Buefy styles
@import "../dist/bulma/bulma";
@import "../dist/buefy/scss/buefy";